body {
    background-color: rgb(0, 121, 191);
    color: white;
    padding-top: 40px;
    width: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.content {
    padding: 70px 10px 10px 10px;
}
.navbar {
    background-color: #026aa7;
    margin-bottom: 100px;
}
.navbar-brand {
    color: white;
}
.navbar-brand:hover {
    color: #DDD;
}
.navbar-title {
    background-color: #044f7c;
    margin-top: 40px;
    padding-left: 15px;
}
.board-title {
    font-size: 18px;
    font-weight: 700;
}
.list, .sortable-board> .ui-state-highlight {
    vertical-align: top;
    background-color: #CCC;
    color: black;
    border-radius: 3px;
    width: 270px;
    min-height: 20px;
    max-height: 700px;
    padding-bottom: 10px;
    padding-left: 5px;
    margin-right: 10px;
    display: inline-block;
    overflow-x: hidden;
    overflow-y: auto;
}
.list-title {
    color: #1d1d1d;
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
}
.card, .cards> .ui-state-highlight {
    background-color: white;
    border-radius: 3px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    margin-bottom: 6px;
    max-width: 260px;
    min-height: 20px;
    position: relative;
    padding: 10px;
}
.card:hover {
    background-color: #EEE;
}
.add-card, #add-list-btn {
    height: 270px;
    width: 270px;
    text-decoration: none;
    color: #4d4d4d;
    padding: 10px 110px 5px 10px;
}
#board, #add-list {
  display: inline-block;
  ertical-align: top;
}
#add-list-btn {
    color: white;
    padding: 10px 10px 10px 5px;
}
.add-card:hover, #add-list-btn:hover {
    background-color: #EEE;
    color: #1d1d1d;
    text-decoration: underline;
    border-radius: 3px;
}
#form-add-list {
    display: inline-block;
    color: black;
}
.sortable-board> .ui-state-highlight, .cards> .ui-state-highlight {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
}
footer {
    padding-top: 10px;
    text-align: center;
    clear: both;
}
