body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.navbar {
    background-color: #3d8dba;
}

.navbar-brand {
  color: #FFF;
}

.navbar-brand:hover {
  color: #DDD;
}

footer {
  text-align: center;
}
